body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: linear-gradient(45deg, #6baed6, #d4a5a5); /* Darkened opal-inspired gradient */
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-right: 20px;
}

nav .nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
}

nav .nav-links li {
  margin-right: 20px;
}

nav .user-profile {
  display: flex;
  align-items: center;
}

nav .user-profile span {
  color: white;
  margin-right: 10px;
}

nav .user-profile button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

nav .user-profile button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.left-menu,
.right-menu {
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
}

.center-content {
  flex: 1;
  padding: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"],
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #45a049;
}

form p {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.property-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featured-property {
  background-color: #ffeb3b;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.details-button {
  display: inline-block;
  margin-top: 10px;
  padding: 4px 6px;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

.details-button:hover {
  background-color: #0056b3;
}

.agent-link {
  color: grey;
}

.agent-link:hover {
  color: darkgrey;
}
